.row
  #breadcrumb.col-md-12
    %ol.breadcrumb
      %li
        = link_to "Preferencias", clientes_path

= render partial: 'shared/flash_messages'
.col-xs-12.col-sm-12
  .box.ui-draggable.ui-droppable
    .box-header
      .box-name
        %i.fa.fa-search
        %span Preferencias
      .box-icons
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.expand-link
          %i.fa.fa-expand
        %a.close-link
          %i.fa.fa-times
      .no-move
    .box-content
      .row
        .col-sm-8
          = render 'form'
