.row
  #breadcrumb.col-md-12
    %ol.breadcrumb
      %li
        = link_to "Escritorio", dashboard_path

= render partial: 'shared/flash_messages'
.col-xs-12.col-sm-12
  .box.ui-draggable.ui-droppable
    .box-header
      .box-name
        %i.fa.fa-search
        %span Creditum.net v3.0
      .box-icons
        %a.collapse-link
          %i.fa.fa-chevron-up
        %a.expand-link
          %i.fa.fa-expand
        %a.close-link
          %i.fa.fa-times
      .no-move
    .box-content
      %h1 Bienvenidos a Creditum.net
      %p Tu nueva plataforma de servicios e información crediticia.  
