%h1 ¿Quiénes Somos?
%p Informadora de Crédito en Línea, es una empresa que nace de la necesidad que tiene el sector Comercial - Empresarial de proteger sus intereses al momento de realizar una transacción crediticia cualquierea que sea.
%h2 Personal
%p Nuestro personal está conformado por:
%ol
  %li Técnicos Especializados.
  %p Ellos, son quienes gustosamente tendrán el placer de orientarle y guiarle en el manejo de nuestro sistema de información.
  %li Profesionales en el manejo de Información Crediticia e Informática.
  %p Nuestros técnicos e ingenieros, han diseñado un sistema, muy sencillo, y fácil de operar. Para comunicarte con nosotros pulsa aquí.
%h2 Servicios
%p A través de nuestra página web: www.creditum.net, nuestros clientes podrán:
%ol
  %li Realizar consultas las 24 horas del día.
  %li Ver e imprimir reportes del estado de cuenta
  %li Actualizar datos.
%p También tendrán la opción de comunicarse telefónicamente con nuestros operadores, quienes estarán en disposición de suministrarle la información de la consulta solicitada por Ud.
%p La actualización de nuestra información, será enviada por nuestros clientes, quienes gozarán de créditos que serán descontados de sus facturas, dichos créditos serán por cliente enviado.
%p Para actualizar los datos, estamos en disposición de brindarle el software especializado con la capacidad de:
%ol
  %li Recopilar la información.
  %li Codificar dicha información.
  %li Conectarse a internet y enviar los datos a nuestro sistema, sin que usted tenga que dirigirse a nuestras oficinas.
  %li Almacenar en un medio extraible la información codificada,
%p
  %b Nuestras tarifas son inmejorables, contamos con una gran base de datos con numerosos registros e información de experiencias crediticias, que pondremos a su disposición gratuitamente durante nuestro período de prueba, vía Internet.