%h1 Contacto
%br
%p{align: "justify"}
  %em>
    %strong Creditum.Net
  , le permite comunicarse con nuestros operadores y técnicos para aclarar todas
  sus dudas respecto a nuestro servicio y a nuestro sistema.
%p{align: "justify"}
  Si tiene alguna duda respecto a nuestros servicios, si necesita
  ayuda o simplemente desea enviarnos alguna sugerencia, por favor comuníquese
  con nosotros que con gusto le responderemos.
%br
%h2 Contáctanos Vía Telefónica
%br
%p{align: "justify"}
  %em>
    %strong Creditum.Net,
  le permite comunicarse con nuestros operadores a través del número telefónico
  = succeed "." do
    %strong
      0251-2312319
%p{align: "justify"}
  Usted será atendido por uno de nuestros operadores, quien estará
  en disposición de suministrarle la información requerida.
%br
%h2{dir: "ltr"} Horario de Atención Telefónica:
%br
%ul{dir: "ltr"}
  %li
    %div
      %strong Lunes a Viernes:
    %ul
      %li
        %div 8:00 am a 5:00 pm
%ul{dir: "ltr", style: "MARGIN-RIGHT: 0px"}
  %li
    %div
      %strong Sábado:
    %ul{dir: "ltr"}
      %li
        %div 8:00 am a 12:30 pm
%br
%h2 Contáctanos Vía Correo Electrónico (E-mail)
%br
%p{align: "justify"}
  Otra forma de comunicarse con nosotros, es vía correo
  electrónico (e-mail).
%p{align: "justify"}
  Si tiene alguna duda respecto a nuestros servicios, si necesita
  ayuda o simplemente desea enviarnos alguna sugerencia, por favor sírvase de
  escribirnos a la dirección de correo electrónico
  = succeed "\u{a0}" do
    %a{href: "mailto:consulcreline@cantv.net"}
      %strong consulcreline@cantv.net
