#content
  .title
    %h2 Creditum.net
    %span.byline Información crediticia al instante
  %p
    = succeed "," do
      %strong Creditum.Net
    le permite proteger sus intereses al momento de realizar una transacción crediticia de cualquier tipo.
  %p Consulte nuestra gran base de datos con información crediticia, registros y experiencia de clientes pertenecientes a las casas comerciales más importantes...
  %p Disfruta de nuestro período de prueba, donde tendrás acceso a la información de manera gratuita por 3 días, evalúa nuestro servicio y escríbenos dándonos tu opinión. Para enviarnos un correo electrónico pulsa aquí.
  %br
  %p
    %h3 
      %b ESTAMOS EN LÍNEA LAS 24 HORAS DEL DÍA
#sidebar
  .box2
    .title
      %h2 Nuestra Plataforma
    = link_to "Iniciar Sesion", user_session_path, class: "button"
